
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"jost", sans-serif ;
    text-decoration: none;
    /* text-decoration: none;
    border: none;
    list-style: none;
    outline: none; */
}

:root{
   -white:white ;
   -black: rgb(0,0,0);
   -blue:rgb(0,102,255);
   -transition: all 0.3s ease-in-out;
}

body{
    background: linear-gradient(
        120deg,
        rgb(87, 135, 206) 0%,
        rgb(74, 108, 187) 35%,
        rgb(100, 103, 146) 100%

    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    display: block;
    width: 100%;
}

.container{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background: url(stacked-waves-haikei.svg)no-repeat;
    background-position: center;
    border-radius: 1rem;
    box-shadow: 0 0 .4rem .3rem rgba(0,0,107,0.255);
}

header{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    background-color: rgb(123, 123, 156);
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;

}
.logo h2,i{
    transition: var(-transition);

}

.logo:hover h2 {
    transform: translateX(1rem);
}
.logo i:nth-child(1){
    transform: translateX(-2rem);
}

nav a{
    font-size: 1.3rem;
    margin: 0 0.5rem;
    display: inline-block;
    color: white;
    position: relative;
}

a::before,
a::after{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0.1rem;
    width: 0%;
    height: 0.06rem;
    background-color: white;
    transition: var(-transition);
}

a::before{
    left: 0;
    top: 0;
}

a:hover::before,a:hover::after{
width: 100%;
}

main{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
}

.section1,.section2{
width: 50%;

}
h3{
    font-size: 2rem;
}

.social{
   display: flex; 
   margin-top: 1rem;
   gap: 1rem ;
}

.social i {
    font-size: 1.3rem;
    cursor: pointer;
    transition: var(-transition);
}

/* لتحريك الايقونات ووضع لون لها  */
.social i:hover{
    transform: translateY(-0.5rem);
    color: blue;
}

img{
transition: var(-transition);
cursor:pointer ;
animation: image 5s ease-in-out infinite;
}
/* هلقيت حنستدعي ال animation  */

@keyframes image {
    /* لتحريك الصورة هان  */
    0% , 100%{
        transform: translateY(1rem);
    }
    50%{
        transform: translateY(-2rem);
    }
}

img:hover{
    animation-play-state: paused;
    scale: 0.8;
}